body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.container
{   width:60%;
    margin:50px auto;
}
.contact
{
    width:150px;
    float: left;
    text-align: center;
    width:200px;
    margin:5px;
    margin-bottom: 50px;
}
.txt2
{
    text-align: center;
}

.container1
{
    width:800px;
    height:700px;
    margin:30px auto;
}
h1
{
    text-transform: capitalize;
    text-align: center;
    border-bottom: 2px white solid;
}
table
{
    font-size: 20px;
}
td
{
    padding: 15px 20px 0px 0px;
}
.txt
{    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: none;
}
.txt1
{
    width: 830px;
    height:150px;
    border-radius: 8px;
    border: none;
}
button
{
    width:835px;
    height:50px;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    background-color: gold;
}
button:hover
{
    cursor: pointer;
    background-color: khaki;
}